@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");


:root {
  --pink: hsl(322, 100%, 66%);
  --pale_cyan: hsl(193, 100%, 96%);
  --dark_cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --grayish-blue-shadow: hsla(208, 11%, 55%, 10%);
  --shadow: 0px 0px 15px 0.5px var(--grayish-blue-shadow);
  --whitee: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes wiggle {
  0%, 7% {
      transform: rotateZ(0);
  }
  15% {
      transform: rotateZ(-15deg);
  }
  20% {
      transform: rotateZ(10deg);
  }
  25% {
      transform: rotateZ(-10deg);
  }
  30% {
      transform: rotateZ(6deg);
  }
  35% {
      transform: rotateZ(-4deg);
  }
  40%, 100% {
      transform: rotateZ(0);
  }
}
  
@keyframes fade-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
  


body {
  scroll-snap-type: y mandatory;
  font-size: 18px;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  position: relative;
}
main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header img {
  animation: fade-in 2s 1;
}
p.message {
  padding: 1.2em 0;
  font-size: 0.9em;
}
h1, h2 {
  text-transform: capitalize;
  font-family: Poppins;
}

main {
  margin: auto;
  margin-top: 100px;
}
header {
  display: flex;
  flex-direction: column;
  background: url(images/bg-hero-desktop.svg);
  background-color: var(--pale_cyan);
}
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
}
.section-container:nth-child(even) { /* to reverse the direction of the even number child*/
  flex-direction: row-reverse;
}

.headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
}
.header-top {
  padding: 2em 0;
  background-color: var(--pale_cyan);
  position: sticky;
  position: -webkit-sticky; /* for browsers like Safari */
  top: 0;
  /* border: 2px dashed red; */
  
}


.section-container {
  box-shadow: var(--shadow);
  padding: 1.5em 2em;
  width: 100%;
  border-radius: 15px;
}
#logo {
  height: 25px;
  width: auto;
}
.section {
  height: max-content;
  margin: auto 0;
  width: 50%;
}

button {
  color: var(--dark_cyan);
  padding: 0.8em 5em;
  font-weight: 800;
  border-radius: 30px;
}
.header-top button {
  animation: wiggle 3s linear 2s;
}

.header-top button {
  background-color: var(--whitee);
  border: 2px solid var(--whitee);
}

.header-bottom div {
  width: 40%;
}
.header-bottom img {
  width: 55%;
  height: 100%;
}
.section-container img {
  width: 40%;
  height: auto;
}
.section button, .outro button {
  background-color: var(--pink);
  color: var(--whitee);
  border: 2px solid var(--pink);
}

.outro {
  width: 60%;
  background-color: var(--whitee);
  margin: 7em auto -3em;
  padding: 1em 4em;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--shadow);
  z-index: 1; /*To ensure that the section is not covered by the footer*/
}
.outro h2 {
  padding: 0.5em 0;
}
footer {
  background-color: var(--dark_cyan);
  padding-top: 5em;
  color: var(--pale_cyan);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.5em auto;
  font-size: 0.8em;
}

.footer-logo {
  width: 80%;
  margin: auto;
}
.address-bar {
  width: 30%;
}
.last-bar {
  width: 15%;
}

.other-addr {
  width: 15%;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
.social-icons li {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--pale_cyan);
}
li {
  list-style-type: none;
  margin: 0 0 1em;
}

.address-desc {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em;
}
.address-desc i {
  width: 8%;
  height: fit-content;
}

address {
  font-size: 0.9em;
  text-decoration-style: none;
  width: 85%;
}

.copyright {
  width: 90%;
  text-align: right;
  font-size: 0.7em;
  margin-bottom: 20px;
}


@media screen and (max-width:950px) {
  div#bottom {
    flex-direction: column;
  }
  .header-bottom .section {
    width: 100%;
    margin-bottom: 10px;
  }
  .header-bottom img {
    width: 100%;
  }
  .outro {
    width: 80%;
  }
}

@media screen and (max-width:700px) {
  .section-container, .section-container:nth-child(even) {
    flex-direction: column;
  }
  .section-container > * {
    width: 100%;
  }

  .section-container img {
    margin: auto;
  }

  .outro {
    width: 95%;
    font-size: 0.7em;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-container > * {
    margin: 2em;
    width: 80%;
  }
  .social-icons {
    margin: auto;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
  
}

@media screen and (max-width: 375px) {
  .section-container, .section-container:nth-child(even) {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-container img {
    width: 100%;
    margin-bottom: 10px;
  }
  .header-bottom {
    text-align: center;
    font-size: 0.7em;
  }
  .header-bottom p.message {
    font-size: 1.3em;
  }
  .outro {
    width: 95%;
    font-size: 0.7em;
  }
  
  .header-top button {
    height: auto;
    padding: 0.5em 2em;
  }
  .outro button {
    height: auto;
    padding: 0.5em 1.5em;
  }
  .outro h2 {
  padding: 0.2em 0;
  text-align: center;
  }
}
