@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --fade-dark-blue: hsla(249, 10%, 26%, 50%);
    --grayish-blue: hsl(246, 25%, 77%);
    --faded-white: hsla(100, 100%, 100%, 80%);
    --color: white;
    --radius: 8px;
}

body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    font-size: 16px;
    font-family: Poppins, calibri;
    color: --color;
    min-height: 100vh;
}
input {
    display: block;
    margin: 2em 0 0em;
    padding: 1.5em;
    width: 95%;
    font-size: 0.8em;
    border-radius: var(--radius);
    border: 1px solid var(--grayish-blue);
    font-weight: 800;
    color: var(--dark-blue);
    font-family: Poppins, calibri;
}

#submit {
    font-size: 0.8em;
    font-weight: 700;
}
#submit:hover {
    background-color: hsla(154, 59%, 51%, 50%);
}


h1 {
    font-size: 3.5em;
    animation: wiggle 3s linear 1s;
    line-height: 1em;
}

@keyframes wiggle {
0%, 7% {
    transform: rotateZ(0);
}
15% {
    transform: rotateZ(-15deg);
}
20% {
    transform: rotateZ(10deg);
}
25% {
    transform: rotateZ(-10deg);
}
30% {
    transform: rotateZ(6deg);
}
35% {
    transform: rotateZ(-4deg);
}
40%, 100% {
    transform: rotateZ(0);
}
}

@keyframes fade-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


main {
    height: 80%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
p {
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    color: var(--faded-white);

}
.top {
    background-color: var(--blue);
    margin: 1.5em 0;
    padding: 1em;
    font-size: 1em;
    border-radius: var(--radius);
    color: hsla(0, 0%, 100%, 80%);
    box-shadow: 0px 0.5em rgb(219, 112, 112);
    transition: 0.6s ease;
    animation: fade-in 4s 1s;
}

.top b {
    color: var(--color);
}


.watchword {
    width: 45%;
    color: var(--color);
}
.form-container {
    width: 50%;
    text-align: center;
}
form {
    width: 100%;
    padding: 25px;
    background-color: var(--color);
    border-radius: var(--radius);
    box-shadow: 0px 0.5em rgb(219, 112, 112);
}

input#submit {
    background-color: var(--green);
    color: var(--color);
    box-shadow: 0px .2em rgb(93, 154, 126);
}

.bottom a {
    text-decoration: none;
    color: var(--red);
    font-weight: 800;
}
span {
    color: var(--grayish-blue);
}
.bottom {
    font-size: 0.75em;
    margin-top: 1.2em;

}

/* This part handles how the error messages are displayed when focus is on the input box and it's empty */
.placeholder {
    display: none;
    width: 95%;
    text-align: right;
    font-size: 1em;
    color: var(--red);
    font-weight: 500;
    font-style: italic;
}

i {
    position: absolute;
    right: 10%;
    top: 23%;
    width: 1.5em;
    height: 1.5em;
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#error-msg {
    display: none;
    position: absolute;
    font-size: 1.2em;
    left: 6%;
    top: -4%;
    color: var(--red);
    font-weight: 500;
}


input:placeholder-shown:focus + .placeholder + i {
    display: inline-block;
}
input:placeholder-shown:focus + .placeholder + i + #error-msg {
    display: inline-block;
}
input:placeholder-shown:focus + .placeholder {
    display: block;
}
.input-container {
    position: relative;
}
input::placeholder {
    font-weight: 700;
    font-size: 1.3em;
    font-family: Poppins, calibri;
}
input:placeholder-shown:focus {
    outline: none !important;
    border-color: var(--red);
    border-width: 3px;
}
input:focus {
    outline: none !important;
    border-color: var(--fade-dark-blue);
    border-width: 3px;

}
input:focus::placeholder {
    visibility: hidden;
}




@media screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-image: url(images/bg-intro-mobile.png);
        background-color: var(--red);
        font-size: 12px;
        font-family: Poppins, calibri;
        color: --color;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 5em 0px;
        margin: auto;
        text-align: center;
        justify-content: space-around;
    }
    .form-container, .watchword {
        width: 100%;
        margin: 0px;
    }

    p {
        font-size: 1em;
        margin: 80px auto;
        width: 80%;
        
    }
    .watchword p {
        margin: auto;
        margin-top: 20px;
    }

    input {
        padding: 1em;
        font-size: 1em;
    }


    #error-msg {
        position: absolute;
        top: -100%;
        left: 5%;
        width: fit-content;
        color: var(--red);
        font-weight: 500;
    }
    
    i {
        right: 10%;
        top: 25%;
    }

}

@media screen and (max-width:375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-image: url(images/bg-intro-mobile.png);
        background-color: var(--red);
        font-size: 13px;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 5em 0px;
        margin: auto;
        text-align: center;
        justify-content: space-around;
    }
    .form-container, .watchword {
        width: 100%;
        margin: 0px;
    }

    p {
        font-size: 1em;
        margin: 80px 0px;
    }
    .watchword p {
        margin: auto;
        margin-top: 20px;
    }
    .placeholder {
        font-size: 0.8em;
    }
    input {
        padding: 1em;
        font-size: 0.8em;
    }

    #error-msg {
        top: -112%;
        left: 8%;
        font-size: 0.8em;
    }
    i {
        right: 10%;
        top: 20%;
    }
}

