@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    height: 100vh;
    display: flex;
}

main {
    width: 70%;
    height: 70%;
    background-color: #eeeeee;
    display: flex;
    margin: auto;
}
